---
import "normalize.css/normalize.css";

import favicon from "public/favicon.ico";

const siteName = "ECA Teatro";
const url = "https://ecateatro.es";

const title = Astro.props.title;
const description = Astro.props.description;
const keywords = Astro.props.keywords;
const ogImage =
  Astro.props.ogImage || "https://ecateatro.es/IMG20210508183012.6c0fb45d.jpeg";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href={favicon} />
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="ecateatro.es" />
    <meta name="twitter:title" content={siteName} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:url" content={url} />
    <meta name="robots" content="index, follow" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="./site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <slot name="head" />
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  .background-image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    filter: saturate(0.7) blur(3);
    opacity: 0.5;
  }
  html {
    touch-action: manipulation;
  }

  body {
    background: #000;
    color: #fff;
  }

  main {
    max-width: 790px;
    margin: auto;
    padding: 20px;
  }
</style>
